In [4]:
record

{1001: {'Name': '5 Star', 'Price': 10, 'Qn': 200},
 1002: {'Name': 'Bar-One', 'Price': 20, 'Qn': 100},
 1003: {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 1004: {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 1005: {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}

In [22]:
import json
fd= open('records.json','r')
js= fd.read()
fd.close()

record =json.loads(js)



print("-"*30,"MENU","-"*30 ,"\n")

for key in record.keys():
    print(key,' : ',record[key]['Name'],' | ',record[key]['Price'],' | ',record[key]['Qn'])
print("-"*66 ,"\n")

in_prod_id=str(input("Enter Product ID :"))
in_prod_qn=int(input("Enter Quantity   :"))
print("-"*66 ,"\n")


print(record[in_prod_id]['Name'])
print(record[in_prod_id]['Qn'])
print(record[in_prod_id]['Price'])

record[in_prod_id]['Qn']=record[in_prod_id]['Qn']-in_prod_qn

print(in_prod_qn)

print("-"*66 ,"\n")
print("Billing Amount :₹",int(record[in_prod_id]['Price'])*in_prod_qn)

js=json.dumps(record)
fd=open('records.json','w')
fd.write(js)
fd.close()

------------------------------ MENU ------------------------------

1001  :  5 Star  |  10  |  77
1002  :  Bar-One  |  20  |  -1134
1003  :  Candy  |  2  |  1000
1004  :  Chocolate Cake  |  550  |  8
1005  :  Blueberry Cake  |  650  |  5
------------------------------------------------------------------

Enter Product ID :1001
Enter Quantity   :75
------------------------------------------------------------------

5 Star
77
10
75
------------------------------------------------------------------

Billing Amount :₹ 750

In [23]:
record

{'1001': {'Name': '5 Star', 'Price': 10, 'Qn': 2},
 '1002': {'Name': 'Bar-One', 'Price': 20, 'Qn': -1134},
 '1003': {'Name': 'Candy', 'Price': 2, 'Qn': 1000},
 '1004': {'Name': 'Chocolate Cake', 'Price': 550, 'Qn': 8},
 '1005': {'Name': 'Blueberry Cake', 'Price': 650, 'Qn': 5}}